:root {
  --aiex-yellow: #F1EC41;
  --aiex-grey: #F2F4F4;
  --aiex-white: #FFFFFF;
  --aiex-dark: #030606;
}

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 95px;
  background-color: var(--aiex-white);
  box-shadow: 0px 4px 6px var(--aiex-white);
  z-index: 100;
}

.navBarIzq {
  display: flex;
}

.onac-logo-navbar img,
.aiex-logo-navbar img{
  cursor: pointer;
}

.aiex-logo-navbar img{
  height: 90px;
}

.navBar__links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navBar__links a {
  text-decoration: none;
  color: var(--aiex-dark);
  font-size: 17px;
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar__links a:hover {
  background-color: var(--aiex-yellow);
  font-weight: bold;
}

.btnForm {
  height: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnForm:hover {
  color: #42A9BC;
}